<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/finances?useSSL=false&amp;serverTimezone=America/Mexico_City&amp;allowPublicKeyRetrieval=true</property>
		<property name="connection.username">root</property>
		<property name="connection.password">barcelona8</property>
		<property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<mapping class="org.hibernate.data.entities.User" />
		<mapping class="org.hibernate.data.entities.TimeTest" />
		<mapping class="org.hibernate.data.entities.Bank" />
		<mapping class="org.hibernate.data.entities.Credential"/>
		<mapping class="org.hibernate.data.entities.Account"/>
		<mapping class="org.hibernate.data.entities.Transaction"/>
		<mapping class="org.hibernate.data.entities.Budget"/>
		<mapping class="org.hibernate.data.entities.Currency"/>
		<mapping class="org.hibernate.data.entities.Market"/>
		<mapping class="org.hibernate.data.entities.Stock"/>
		<mapping class="org.hibernate.data.entities.Bond"/>
	</session-factory>
</hibernate-configuration>